<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gibsonware.blank"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <application android:label="@string/gibson_basic"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true" >


      <activity android:name=".MainActivity"
          android:label="Blank"
          android:configChanges ="orientation|keyboardHidden"
          android:enabled="true"
          android:keepScreenOn="true">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
          <intent-filter>
              <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
          </intent-filter>
          <meta-data
              android:name="com.google.android.glass.VoiceTrigger"
              android:resource="@xml/keywords" />
      </activity>

    </application>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>
</manifest>

<!--android:value="AIzaSyBunLULTUXbt8iNJMXhRT8Uc4tX1o6Y_m0"> gibson key-->
<!--android:value="AIzaSyBdG5ufTe-CnrEL75xuViwqVG1ok4bNypk"> mitesh key -->
<!--android:value="AIzaSyAETCkuYj_yMcH61z0rp1dYyCf7O7q_d8E"> supercomputer key -->
